body {
font-family: 'Poppins';
}
h2 {
    color: #474f84;
    font-weight: 700;
    margin-bottom: .5rem;
}
p.active {
    color: #255cda;
    font-weight: 600;
}
.bold {
    font-weight: 600;
}
.progress {
    background: rgba(35, 91, 217, 0.4);
border-radius: 5px;
height: 5px;
overflow: visible;
}
.progress-bar {
    background: #235BD9;
border-radius: 5px;
height: 7px;
align-self: center;
}
p.muted {
color: #ccc9c9;
}



#Cap-1 .nav {
    display: inline-flex;
}
#Cap-1 .nav-pills .nav-link.active{
    color: #474f84;
    font-size: 19px;
    font-weight: 700;
    background-color: transparent;
}
#Cap-1 .nav-link {
    padding: .5rem 0rem;
    color: #191818;

}
#Cap-1 .tab-content {
    margin-top: 30px;
}
#Cap-1 .tab-content>.active {
    display: block;
    font-size: 13px;
}
#solutions .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    padding: 50px;
    display: flex;
    height: 100%;
}
#solutions .caption {
    display: flex;
    flex-direction: column;
}
#solutions .thumbnail-footer {
    margin-top: auto;
}

#solutions .thumbnail img {
    width: 100%;
}
#solutions h3 {
    font-size: 36px;
    font-weight: 600;
line-height: 42px;
color: rgba(71, 79, 133, 0.9);
background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
} 
#solutions h4{
    font-weight: 600;
}
#solutions p {
    color:#fff;
    font-weight: 300;
font-size: 12px;
line-height: 19px; 
}
#solutions .btn.btn-default {
    background: none;
    border: 1px solid #fff;
    padding: 5px 25px;
    color: #fff;
    margin-top:auto;
}

/* Tech Section */
#Tech h5 {
    font-weight: 700;
    color: #474f84;
}
#Tech p {
    letter-spacing: 0;
}
#Tech .col-md-4.ml-4 {
    align-self: center;
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
    padding: 10px 0px 0px 40px;
}
#Tech h2 {
font-weight: bold;
}



/* 0-Skills Section */
#O-Skills {
    margin-top: 80px;
}
#O-Skills .carousel-inner h3 {
    font-weight: 800;
    color: #505d91;
    font-size: 36px;
    letter-spacing: 1px;
    background-image: url(../../assets/img/t-2.png);
    background-repeat: no-repeat;
}
#O-Skills .carousel-inner h4 {
    font-size: 36px;
    color: #505d91;
    font-weight: 600;
    letter-spacing: 1px;
}
#O-Skills .col-md-6 {
    padding:0px;
}
#O-Skills .row {
    margin:0px;
}
#tx {
    padding:70px !important;
}
#O-Skills .carousel-indicators {
    justify-content: flex-end;
}

/* F-1 Section */
#f-1 {
    
}
#f-1 h3 {
    font-weight: 700;
    letter-spacing: .5px;
    color:rgba(71, 79, 133, 0.9);
}
#f-1 p {
    font-weight: 500;
}
#f-1 .col-md-5 {
    align-self: center;
}
/* F-1 Section */


/* F-2 Section */
#f-2 {
    margin-top: 120px;
}
#f-2 h3 {
    color: rgba(71, 79, 133, 0.9);
    font-weight: 700;
}
#f-2 .row {
    margin-top:120px;
}
#f-2 .col-md-3.ml-auto.mr-auto{
    background-image: url(../../assets/img/flutter/h-b.png);
    background-repeat: no-repeat;
}
#f-2 .col-md-5,.col-md-4 {
    align-self: center;
}

/* F-2 Section */


/* F-3 Section */
#f-3 {
    margin-top: 120px;
}
.img-back {
    background-image: url(../../assets/img/flutter/back.png);
    background-size: 100%;
    padding: 0px;
}
#seth {
    background-color: #00000096;
}
#f-3 .col-md-5.ml-auto.mr-auto {
    background-image: url(../../assets/img/flutter/h-b.png);
    background-repeat: no-repeat;
}
#f-3 .col-md-5.ml-auto.mr-auto h3 {
    font-weight: 800;
    color: rgba(71, 79, 133, 0.9);
}
#f-3 .col-md-6.text-center {
    align-self: center;
}
#f-3 h3 a{
    font-weight: 200;
    text-decoration: underline;
}
/* F-3 Section */


/* f-4 Section */
#f-4 .row {
    margin: 0px;
}
.BorderCorner {
    border: 2px solid #2f8fff;
    display: inline-block;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    width: auto;
}
.BorderCorner p{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.BorderCorner::before {
    width: calc(100% + 50px + 40px - 120px);
    height: calc(80% + 1px);
    top: -2px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
}
.BorderCorner::before, 
.BorderCorner::after {
    content: '';
    position: absolute;
    background: #fff;
}
.BorderCorner::after {
    height: calc(100% + 80px + 3px - 110px);
    width: calc(100% + -30px);
    left: -2px;
    top: 65%;
    transform: translateY(-50%);
    z-index: 1;
}
/* f-4 Section */



/* F-5 Section */


#f-5 .imag {
    width: 100%;
    height: 440px;
    background-size: 100%;
    background-image: url(../../assets/img/flutter/app.png);
    margin-top: -35%;background-repeat: no-repeat;
}
#f-5 h5 {
    color: #2f8eff;
    font-weight: 600;
}
#f-5 h3 a {
text-decoration: underline;
font-weight:200; 
}
#empty {
    height: 200px;
    width: 100%;
}

/* F-5 Section */


/* C-Tech Section */
#C-Tech .btn.btn-secondary {
width: 100%;
padding: 0px;
    padding-top: 9px;
    color: #235bd9;
    background-color: #fff;
    border: 1px solid #C1D3FB;
}
#C-Tech .btn-secondary:not(:disabled):not(.disabled).active {
    color: #235BD9;
    background: #C1D3FB;
    border-radius: 4px;
}
#C-Tech .btn-group.bizmoduleselect {
    width: 100%;
}
#C-Tech p {
    font-weight: 600;
}
#C-Tech h6 {
    font-size: 14px;
}
#C-Tech .btn.btn-primary {
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
}



/* d-files Section*/
#d-files .btn.btn-primary {
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
}


/* U-React Section */
#U-React {
    margin-top: 80px;
}
#U-React .col-md-2.ml-auto.mr-auto {
    background: url(../../assets/img/r-2.png);
    background-repeat: no-repeat;
}
#U-React h2 {
    margin-left: 25px;
}
#U-React .col-md-3 {
    padding: 0px;
}
#U-React .card {
    border: none;
}
#U-React .row {
    margin-left: 0px;
    margin-right: 0px;
}
#U-React p.card-text{
    font-size: 16px;
line-height: 25px;
letter-spacing: 0px;
color: rgba(45, 49, 54, 0.9);
}
#U-React h5.card-title{
    font-size: 19px;
line-height: normal;
color: rgba(45, 49, 54, 0.9);
}
#U-React .card-body {
   padding: 30px;
}


/* develop Section */
#develop {
    margin-top: 80px;
}
#develop .w-100 {
    margin-top: 20px;
}





/* S-Skills Section */
#S-Skills {
    margin-top: 80px;
    margin-bottom: 100px;
}
#S-Skills h3 {
    background-image: url(../../assets/img/r-2.png);
    background-repeat: no-repeat;
    font-weight: 700;color: #484f85;
    padding-left: 40px;
    padding-top: 5px;
    height: 100%;
}




/* B-Tech Section */
#B-Tech {
    margin-top: 80px;
}
#B-Tech-2 {
    margin-top: 80px;
}
#B-Tech-2 .row{
    margin: 0px 60px;
    background: #575ed0;
    border-radius: 10px;
}
#B-Tech-2 h2 {
    color:#f28878;
}
#B-Tech-2 p {
    color: #fff;
    font-weight: 300;
}
#B-Tech-2 ol.carousel-indicators {
margin: 0px;
}
#B-Tech-2 .carousel-item {
    height: 80vh
}
#B-Tech-2 .carousel-indicators {
    justify-content: flex-start;
}





/* p-tech Section */
#p-tech {
    background-image: url(../../assets/img/t-1.jpg);
    background-size: 100% 100%;
    min-height: 100%;
}
#p-tech .col-md-3.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/t-2.png);
    background-repeat: no-repeat;
}



/* cong Section */
#cong h3 {
    font-weight: 600;
    color: #474f84;
}
#cong {
    margin-top: 120px;
    margin-bottom: 120px;
}
#cong p {
    font-size: 15px;
    color: #474f84;
    padding-left: 40px;
    border-left: 5px solid #235bd9;
}


/* job1 Section */
#job1 {
    background-image: url(../../assets/img/j-1.jpg);
    background-size: 100% 100%;
    min-height: 100%; 
}

#Cap-1 {
    margin-top: 80px;
}
#Cap-1 .col-md-3.ml-auto.mr-auto {
    padding-left: 40px;
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}
#Cap-1 .list-group li.heading {
    list-style: none;
    font-size: 20px;
    margin-bottom: 30px;
}
#Cap-1 .list-group a {
    text-decoration: none;
    color: #2f2e2e;
    font-size: 17px;
    padding: 5px 0px;
}
#Cap-1 .list-group a.Active {
    text-decoration: none;
    color: #235bd9;
    font-size: 18px;
    padding: 5px 0px;
    font-weight: 600;
}


/* industry Section */
#industry {
    margin-top: 60px;
    margin-bottom: 60px;
}
#industry .col-md-5{
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}


/* C-Vacancy Section */
#C-Vancancy {
    margin: 80px 0px;
} 
#C-Vancancy h2{
    padding-left: 40px;
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}
#C-Vancancy .dropdown .btn.btn-default.dropdown-toggle {
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    background: none;
    font-size: 22px;
    color: #6b6f72;
    font-weight: 600;
    border-bottom: 2px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
#C-Vancancy .dropdown-toggle::after {
   float: right;
   margin-top: 10px;
    font-size: 30px;
    color: #255cda;
}
#C-Vancancy .col-sm-4 {
    text-align: center;
}
#C-Vancancy .form-group {
    margin-bottom: 35px;
}
#C-Vancancy button {
    padding: 10px 60px;
    background: #235bd9;
}




/* R-Job Section */
#R-Job {
    background: #f0f9ff;
    padding: 30px 0px;
}
#R-Job h2 {
    padding-left: 40px;
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}
#R-Job .card {
    height: 100%;
}
#R-Job .card-body {
    padding: 40px;
    display: flex;
  flex-direction: column;
}
#R-Job .card img{
    float: right;
    height: 40px;
}
#R-Job .card p {
    font-size: 12px;
    letter-spacing: .5px;
}
#R-Job .card .btn {
    padding: 5px 60px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
#R-Job .btn.btn-primary {
    padding: 10px 60px;
}
#R-Job .card.i-1{
    background: #55c7c7;
    color: #fff;
}
#R-Job .card.i-1 h4{
    margin: 15px 0px;
    color: #3377c6;
    font-weight: 600;
    letter-spacing: 1px;
}
#R-Job .card.i-2{
    background: #18428a;
    color: #fff;
}
#R-Job .card.i-2 h4{
    margin: 15px 0px;
    color: #91f1eb;
    font-weight: 600;
    letter-spacing: 1px;
}
#R-Job .card.i-3{
    background: #5056d0;
    color: #fff;
}
#R-Job .card.i-3 h4{
    margin: 15px 0px;
    color: #fea0cd;
    font-weight: 600;
    letter-spacing: 1px;
}
#R-Job .card-footer {
    padding: 0;
    background: none;
    border-top: none;
    margin-top: auto;
}




/* Contact Section */
#Contact {
    margin-top: 80px;
}
#Contact .col-md-4 h3 {
    background-image: url(../../assets/img/r-2.png);
    background-repeat: no-repeat;
    font-weight: 700;color: #484f85;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#Contact form {
padding-left:40px;
margin-top: 20px;
}
#Contact p {
    padding-left:40px;
    margin-top: 20px;
}
#Contact i {
    font-size: 32px;
    margin-right: 20px;
}



/* Team Section */
#Team h3 {
    background-image: url(../../assets/img/r-2.png);
    background-repeat: no-repeat;
    font-weight: 700;color: #484f85;
    padding-left: 40px;
    padding-top: 5px;
    height: 100%;
}
#Team .row.mt-5 h3 {
    background-image: none;
    height: 70%;
    padding-left: 0px;
    }




/* Map Section */
#Map {
    margin-top: 120px;
    margin-bottom: 120px;
}






/* VR-Tech Section */
#VR-Tech {
    margin-top: 10rem!important;
    margin-bottom: 10rem!important;
}
#VR-Tech p {
    font-size: 14px;
}
#VR-Tech img {
    width:100%;
    }
    





/* doin Section */
#doing {
    margin-top: 8rem!important;
}
#doing p {
    font-size: 14px;
}
#doing .row {
    background-image: url(../../assets/img/rec.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#doing .col-md-4.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}




/* Blockchain Section */
#Blockchain {
    margin-top: 80px;
    margin-bottom: 80px;
}



/* flutter Section */
#flutter {
    margin-top: 80px;
}
#flutter h2{
   color: #5ec8f8;
}
#flutter p{
    color: #fff;
 }
#flutter .row {
    background-image: url(../../assets/img/flutter.png);
    background-size: 100%;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    margin-right: 0px;
}



/* AL-Int Section */
#AL-Int h2 {
    color:#f28878;
}
#AL-Int p {
    color: #fff;
    font-weight: 300;
    font-size: 13px;
}
#AL-Int .row{
    margin: 0px 60px;
    background: #575ed0;
    border-radius: 10px;
}






/*  Portfolio-1 Section */
#Portfolio-1 .row {
    background-image: url(../../assets/img/-1.png);
    background-size: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
#Portfolio-1 .row h5 {
    color: #474f84; 
}



/*  Clients Section */
#Clients {
    margin-top:100px;
}
#Clients .col-md-6.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}
#Clients .col-md-8.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}


/*  Portfolio-2 Section */
#Portfolio-2 {
    margin-top:100px;
    margin-bottom:80px;
}
#Portfolio-2 .col-md-8.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}
#Portfolio-2 .container-fluid {
    position: relative;
    padding: 0px;
}
#Portfolio-2 .row {
    margin-right: 0px;
}
#Portfolio-2 .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#Portfolio-2 .col-md-4 {
      padding: 0px;
}
#Portfolio-2 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
#Portfolio-2 .container-fluid:hover .image {
    opacity: 0.3;
}

#Portfolio-2 .container-fluid:hover .middle {
    opacity: 1;
}
  
#Portfolio-2 .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
#Portfolio-2 .project-hover img {
    width: 90px;
}





/* Other CSS */
h1 {
    font-weight: 700;
    color: #484f84;
    float: left;
    margin-left: 20px;

}
header .container {
    margin-bottom: 50px;
    margin-top: 100px;
    min-height: 250px;
}
#fh1-b {
    background-image: url(../../assets/img/f-1.jpg);
    background-size: 100% 100%;
    min-height: 100%;
}
#fh1-b .col-md-3.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/fh1-b.png);
    background-repeat: no-repeat;
}
header .col-md-3.ml-auto.mr-auto.text-center {
    background-image: url(../../assets/img/g-5.png);
    background-repeat: no-repeat;
}


header.py-5.mb-5 {
    background-image: url(../../assets/img/c-t.png);
    background-size: 100% 100%;
    min-height: 100%;
}
.form-control {
    padding: 10px;
    font-size: 14px;
}
ul.dropdown-menu.show {
    width: 100%;
}
ul.dropdown-menu.show li {
    margin:10px 20px;
    
}
ul.dropdown-menu.show li a {
    text-decoration: none;
    color: #353535;
    letter-spacing: 1px;
    font-size: 21px;
}
ul.dropdown-menu.show li a:hover {
    text-decoration: none;
    color: #255cda;
    font-weight: 600;
}
.avatar.mb-md-0.mb-4:hover {
    background-image: url(../../assets/img/g-11.png);
}
.avatar.mb-md-0.mb-4 {
    cursor: pointer;
}
.info-1 {
    background: #DEFFF7;
    padding: 10px 20px;
    width: 100%;
}
.info-1 a {
    font-size: 13px;
}
.info-2 a {
    font-size: 13px;
}
.info-3 a {
    font-size: 13px;
}
.info-4 a {
    font-size: 13px;
}
.info-2 {
    background: #E3F3FF;
    padding: 10px 20px;
    width: 100%;
}
.info-3 {
    background: #E1BFFB;
    padding: 10px 20px;
    width: 100%;
}
.info-4 {
background: #E8FFD9;
padding: 10px 20px;
width: 100%;
}
.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: #0062cce0;
padding: 40px 40px !important;
}
.project:hover .project-hover {
opacity: 1;
}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.title-arch {
text-align: center;
margin: 50px 0;
font-size: 22px;
letter-spacing: 2px;
text-transform: uppercase;
}
.project {
background-image: url(../../assets/img/c-1.png);
background-size: 100%;
min-height: 330px;
}

.project-2 {
background-image: url(../../assets/img/c-2.png);
}

.project-3 {
background-image: url(../../assets/img/c-3.png);
}   
.custom-control-label::before {
    border: 2px solid #a8baef82;
    background-color: #fff;
}
.custom-control-label {
    color:#235BD9;

}
.carousel-indicators .active {
    width: 60px;
    height: 5px;
}
.navbar-light .navbar-brand {
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#fff;
}
.navbar-light .navbar-nav .nav-link {
    color:#fff;
    margin: 0 10px;
    padding: .5rem 0px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#235bd9;  
}
.navbar-light .navbar-nav .active>.nav-link {
    color:#235bd9; 
    border-bottom: 3px solid;
    text-transform: uppercase;
}
.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size:cover;
}
.carousel-caption {
    bottom:270px;
    right: 0%;
    text-align: left;
    padding-bottom: 0px;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 700;
}
p {
    line-height: 30px;
    letter-spacing: normal;
    font-weight: 400;
}
.carousel-caption p{
    margin:auto;
    font-size: 15px;
    line-height: 1.9;
}
.btn-primary {
    margin-top:20px;
    font-size: 12px;
    padding: 8px 30px;
    background: #245bda;
}
.carousel-indicators {
    webkit-box-pack: initial;
    justify-content: flex-end;
    bottom: 50px;
    margin-right: 30%;
    margin-left: 0;
}
.carousel-indicators li {
    width: 60px;
    height: 4px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}
.footer-clean {
    padding: 50px 0;
    background-color: #f7fcff;
    color: #4b4c4d;
}
footer {
    display: block;
}
.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    font-weight: 700;
    line-height: 30px;
}
.footer-clean .item.social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.footer-clean .item.social {
    text-align: right;
}
.footer-clean li {
    margin-bottom: 10px;
}
.footer-clean img {
    width: 50%;
    margin-top: 15px;
}


/* Job Page Upload CSS */
.box {
    padding: 6.25rem 1.25rem;
    outline: 2px dashed #e1e1e1;
}
input#file-5 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile-4 + label {
    color: #484747;
    
}
.inputfile-4 + label figure {
    display: block;
    margin: 0 auto 10px;
}
.inputfile + label {
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}
/* End Job Page Upload CSS */




